/*  your css code here. If applicable */
  
        /* body {
            font-family: Arial, sans-serif;
            margin: 20px;
        } */
        .content img {
            height: 300px;
        }
   